.service {
  max-height: 49rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0rem 0 2rem 0;
  background-color: #eee;
}

.service__container {
  width: 71%;
}

.service__background {
  width: 29%;
}

.background__img {
  width: 100%;
}

.service__cards {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  grid-template-areas:
    '. . .'
    '. . .';
}

@media only screen and (min-device-width: 375px) and (max-device-width: 972px) and (orientation: portrait) {
  .service__background {
    display: none;
  }

  .service__container {
    width: 100%;
  }

  .service {
    max-height: 70rem;
    overflow: none;
  }

  .service__cards {
    padding: auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas: '. ';
  }
}
