.service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #eee;
}

.service__container {
  width: 71%;
  padding-bottom: 2rem;
}

.service__background {
  width: 29%;
  overflow: hidden;
  background-color: #2d8e95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background__img {
  width: 100%;
  max-height: 52rem;
  vertical-align: top;
}

.service__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding: 0 0.5rem;
}

@media only screen and (max-device-width: 1451px) {
  .service__background,
  .background__img {
    display: none;
  }

  .service__container {
    width: 100%;
  }
}
