.header__container-logo {
  padding: 0.5rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
}

.logo {
  width: 4rem;
  height: auto;
}

.logo g {
  fill: white;
}

@media only screen and (max-device-width: 972px) and (orientation: portrait) {
  .logo {
    width: 2rem;
  }
}
