.ubication {
  width: 100%;
  height: 100vh;
  padding: 20px 0 30px 0;
}

.ubication--information {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication--container-description {
  align-self: flex-start;
  width: 40%;
  text-align: right;
  margin-right: 3%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3%;
}

.ubication--description {
  width: 40%;
  line-height: 1.7rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}

.ubication--container-map {
  width: 60%;
  height: 100%;
}

@media only screen and (max-device-width: 972px) and (orientation: portrait) {
  .ubication {
    height: 40rem;
  }

  .ubication--container-description {
    display: none;
  }

  .ubication--information {
    height: 30rem;
  }

  .ubication--container-map {
    width: 100%;
    height: 100%;
  }
}
