.header {
  height: 100vh;
  width: 100%;
  background: url('../../../images/header/background.jpg') #028fad no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
}

.header__left {
  height: 100vh;
  width: 70%;
  padding: 2% 0 0 7%;

  display: flex;
  flex-direction: column;
}

.header__nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
}

.nav__container-links {
  margin-left: 1rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.nav__links-list li {
  margin-left: 0.5rem;
}

.nav__link {
  padding: 1rem;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.header__container-titles {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-size: 4.5rem;
  color: #fff;
  width: 25rem;
  word-break: break-word;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.header__container-description {
  width: 33rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}

/* Lado derecho */
.header__right {
  height: 100vh;
  width: 30%;
}

.header__menu {
  width: 3rem;
  display: flex;
  align-items: center;
}

.menu__buger {
  width: 3rem;
  height: auto;
  color: #fff;
  display: none;
}

@media (hover: hover) {
  .nav__link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0e3854;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 972px) and (orientation: portrait) {
  .header__title {
    font-size: 3.5rem;
    width: 18.5rem;
  }

  .header__left {
    width: 100%;
  }

  .header__nav {
    justify-content: space-between;
  }
  .header__container-logo {
    margin-right: auto;
  }

  .header__container-description {
    font-size: 1.3rem;
    width: 18.5rem;
  }

  .nav__container-links {
    display: none;
  }

  .menu__buger {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
